</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

<script type="text/javascript" src="/js/play.js"></script>

<!-- Footer -->
<div id="footer">


    <footer class=" page-footer font-small darken-3 text-center ">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">


                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-12 py-3">
                    <div class="flex-center">

                        <!-- Facebook -->
                        <a href="https://facebook.com/CHNsPart" class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/R_CHN4" class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a href="mailto:imchn24@gmail.com" class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a href="https://www.linkedin.com/in/touhidul-islam-chayan-50b857143/" class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a href="https://instagram.com/CHNsPart" class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a href="https://www.pinterest.com/imchn24/" class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center">

            &copy <script>
                document.write(new Date().getFullYear());
            </script> Copyright
            <a class="text-primary"> Touhidul Islam Chayan</a>
        </div>

        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>
</body>

</html>