<%- include('partials/header') %>
<div class="container">
  <h1 class="display-4 text-center mt-4 md-4">Search by Country Name</h1>
  <form action="results" autocomplete="off" method="GET">
    <input id="inp" class="form-control my-2" type="text" autocomplete="off" class="form-control-file"
      placeholder="ex: bangladesh / Bangladesh  [Do not use full Caps]" name="search" />
    <button id="button" class="btn btn-primary btn-block btn-lg" type="submit"><i class="fa fa-search"
        aria-hidden="true"> </i>
      search
    </button>
  </form>
</div>
<%- include('partials/footer') %>